[submodule "assets/razorpay/vendor/razorpay/razorpay"]
    path = assets/razorpay/vendor/razorpay/razorpay
    url = https://github.com/razorpay/razorpay-php.git

[submodule "assets/razorpay/vendor/rmccue/requests"]
    path = assets/razorpay/vendor/rmccue/requests
    url = https://github.com/rmccue/Requests.git
